body {
	max-width: 1024px;
	margin: 0 auto;
}

.task {
	border: 1px solid grey;
	margin-top: 1em;
	padding-bottom: 1em;
}

.sorting-params {
	background: linear-gradient(to top, #ddd, #eee, #ddd);
	padding: 1em;
}

.sorting-title {
	font-weight: bold;
}

.sorting-param {
	margin-left: 1.5em;
	display: inline-block;
}